datagridview_for_mano/datagridview/Service References/ServiceReference1/Transtech1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2858/Transtech.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranstechWS" />
  <xs:element name="ZMM_TRANSTECH_GET_PO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subrc" type="xs:int" />
        <xs:element minOccurs="0" name="MessageReturn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMM_TRANSTECH_GET_POResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranstechWS" minOccurs="0" name="ZMM_TRANSTECH_GET_POResult" nillable="true" type="q1:ArrayOfV_PO" />
        <xs:element minOccurs="0" name="MessageReturn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMM_TRANSTECH_MIGO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranstechWS" minOccurs="0" name="Migo_items" nillable="true" type="q2:ArrayOfV_MIGO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranstechWS" minOccurs="0" name="Bapi_results" nillable="true" type="q3:ArrayOfV_BAPIRETURN" />
        <xs:element minOccurs="0" name="TestRun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pstng_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Doc_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Header_txt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageReturn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMM_TRANSTECH_MIGOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZMM_TRANSTECH_MIGOResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranstechWS" minOccurs="0" name="Bapi_results" nillable="true" type="q4:ArrayOfV_BAPIRETURN" />
        <xs:element minOccurs="0" name="MessageReturn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>