datagridview_for_mano/datagridview/Service References/ServiceReference1/Transtech2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranstechWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranstechWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_PO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_PO" nillable="true" type="tns:V_PO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_PO" nillable="true" type="tns:ArrayOfV_PO" />
  <xs:complexType name="V_PO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BSART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBELN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBELP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGOBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGPBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKTX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEINS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENGE" type="xs:decimal" />
      <xs:element minOccurs="0" name="MENGE2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_PO" nillable="true" type="tns:V_PO" />
  <xs:complexType name="ArrayOfV_MIGO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MIGO" nillable="true" type="tns:V_MIGO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MIGO" nillable="true" type="tns:ArrayOfV_MIGO" />
  <xs:complexType name="V_MIGO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ENTRY_QNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STGE_LOC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MIGO" nillable="true" type="tns:V_MIGO" />
  <xs:complexType name="ArrayOfV_BAPIRETURN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_BAPIRETURN" nillable="true" type="tns:V_BAPIRETURN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_BAPIRETURN" nillable="true" type="tns:ArrayOfV_BAPIRETURN" />
  <xs:complexType name="V_BAPIRETURN">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIELD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOG_MSG_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOG_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE_V1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE_V2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE_V3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE_V4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARAMETER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROW" type="xs:int" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZSYSTEM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_BAPIRETURN" nillable="true" type="tns:V_BAPIRETURN" />
</xs:schema>